<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt name}} likes {{likes}}</p>
        {{> footer}}
    </body>
</html>