<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
    </head>
    <body>
        {{> header}}
        <p>Project page text would go here</p>
        {{> footer}}
    </body>
</html>